.footerDiv{
    height:200px;
    background-color: var(--gray);

}
.footerDiv p{
    color:white;
    font-family: var(--sansSemiBold);
    margin-left:50px;
}
.footerDiv img{
    width:150px;
    margin-left:50px;
    margin-top:25px;
}